<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>博客后台管理</title>
    <link rel="stylesheet" href="statics/layui/css/layui.css">
    <link rel="icon" type="image/x-icon" href="statics/images/favicon.ico">
    <style>
        .layui-layout-admin .layui-header {
            background-color: rgba(46, 48, 59, 0.95);
        }
        .layui-logo img{
            height:40px;
            margin-right: 10px;
        }
        .text-logo{
            color: white;
        }
        .layui-layout-left{
            padding: 0;
        }
        .layui-footer{
            text-align: center;
        }
        #searchInput,#searchScope,#searchBtn{
            margin-left:30px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header " style="box-shadow: 1.2px 1.2px 5px #2E313C">

        <div class="layui-logo text-logo" ><img src="statics/images/favicon.ico" /><font color="white">博客后台管理</font></div>

        <!-- 水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect="" id="switchNav">
                <a href="javascript:;"><i class="layui-icon"></i></a>
            </li>
            <li class="layui-nav-item"  lay-unselect="" id="searchInput">
                <input class="layui-input" name="search" autocomplete="off">
            </li>
            <li class="layui-nav-item" id="searchScope">
                <a href="javascript:;">文章</a>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd><a href="">评论</a></dd>
                    <dd><a href="">分类</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect="" id="searchBtn">
                <button  class="layui-btn search-btn" onclick="search()"><i class="layui-icon"></i>搜索</button>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:" id="userNameTag">
                    <!--<img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->
                    molamola
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:load('changePassword')">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:" onclick="layui.layer.alert('确定注销吗？', {icon: 3},function(index) {clearSession();layer.close(index)});">注销</a></li>

        </ul>
    </div>

    <div class="layui-side layui-bg-black" style="box-shadow: 1px 1px 5px #2E313C">
        <div class="layui-side-scroll">
            <!-- 左侧导航 -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li id="nav-item" class="layui-nav-item layui-nav-itemed" >
                    <a class="" href="javascript:;">博客管理</a>
                    <dl class="layui-nav-child">
                        <dd class="blogedit"><a href="javascript:loadEditor(false);">写博客</a></dd>
                        <dd class="layui-this" id="blog_admin"><a href="javascript:load('blog');">文章管理</a></dd>
                    </dl>
                </li>
                <li id="commentManager" class="layui-nav-item layui-nav-itemed"><a href="javascript:;" onclick="layui.layer.alert('请点击文章管理->评论管理进入', {icon: 1,closeBtn:0},function(index) {
                    selectNav(2);
                    layer.close(index)
                });" >评论管理</a></li>
                <li class="layui-nav-item layui-nav-itemed"><a href="javascript:load('type');">个人分类管理</a></li>
            </ul>
        </div>

    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        Copyright © 2018 molablog
    </div>
</div>
<script src="statics/layui/layui.js"></script>
<script src="statics/js/admin.js"></script>

</body>
</html>